header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    // margin-top: .5rem;
}

h5 {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
}

body {
    margin-top: 3rem;
    overflow-y: auto;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: black;
    color: white;
    border-radius: .4rem;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: black;
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

footer {
    display: flex;
    justify-content: end;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    // vertical-align: middle;
    height: 3.5rem;
}

.header-logo {
    width: 1.6%;
    height: 1.6%;
    padding-top: 2rem;
    margin-left: .5rem;
    vertical-align: middle;
}

.footer-logo {
    margin-top: .75rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}